.index-h1  {
    text-align: center;
    margin: 30px;
  }

.index-cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 30px;
  // margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.index-card {
  width: 450px;
  height: 397px;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.504);
  transition: 0.4s;

  .index-card-image {
    padding-top: 397px;
    border-radius: 10px;
    transition: 0.4s;

  }

  position: relative;

  .index-card-image-lineargradiant{
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 100%),;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    height: 397px;
    transition: 0.4s;
    border-radius: 10px;
  }

  .index-card-descriptions {
    position: absolute;
    left: 0px;
    width: 450px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -100px;
    transition: 0.4s;
    color: white;
    // text-shadow: 0px 0px 5px black;

    h6 {
      // opacity: 0;
      color: white;
      transition: 0.4s;

    }

    .people-price{
      display: flex;
      justify-content: space-between;
    }

  }

  &:hover {

    .index-card-image {
      padding-top: 296px;
      border-radius: 10px 10px 0px 0px ;


    }

    .index-card-image-lineargradiant{
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 450px;
      height: 290px;
    }

    .index-card-descriptions {
      margin-top: 0px;
      color: black;

      h6 {
        // opacity: 1;
        color: black;
        transition: 0.4s;
      }

    }

  }

  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.504);

  }
}

.index-card-image {
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  border-radius: 10px 10px 0px 0px;
}

.icone-location {
    font-size: small;
    margin-right: 10px;
  }

.index-card-descriptions {
  // margin: 20px;
  // margin-bottom: 0px;
  // padding-bottom: 10px;

  h6 {
    color: rgb(107, 107, 107);
  }


  .icone-capacity {
    font-size: small;
    margin-right: 10px;
  }

  p {
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;

  }

}
