.index-h1  {
    text-align: center;
    margin: 30px;
  }

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 30px;
  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.index-card {
  height: 405px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.504);
  transition: 0.9s;
  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.504);

    .index-card-image {
      padding-top: 290px;
    }
    .index-card-descriptions {

      margin: 10px;
      margin-top: 10px;
      margin-bottom: 0px;
      padding-bottom: 0px;

      h6, p {
        margin: 0;
      }
    }
  }
}

.index-card-image {
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  border-radius: 10px 10px 0px 0px;
  transition: 0.9s;
}

.icone-location {
    font-size: small;
    margin-right: 10px;
  }

.index-card-descriptions {
  margin: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  transition: 0.9s;

  h6 {
    color: rgb(107, 107, 107);
    transition: 0.9s;
  }


  .icone-capacity {
    font-size: small;
    margin-right: 10px;
  }

  p {
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
    transition: 0.9s;

  }

}
