// global css for body
body{
  min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Specific CSS for your home-page
.home-page-image-text {
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  height: 90vh;
  background-image:
  linear-gradient(to left, #f8f4f412, #1a191991),
  asset-url('castle-2.jpg');
}

.text-principal {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 53px;
}

.home-page-text {
  font-size: 14px;
  color: white;
  opacity: .7;
  text-align: center;
  margin-top: 2px;
  letter-spacing: 0.5px;
}

#button-white-homepage {
  margin: auto;
  margin-top: 280px;
  border-radius: 125px;
  display: flex;
  justify-content: center;
  width: 150px;
  margin-bottom: 40px;
  a{
    text-decoration: inherit;
    color: inherit;
  }
}


.my-new-button {
  border: 1px rgba(255, 255, 255, 0.557) solid;
  background: #40404000;
  color: #fffefe;
  font-weight: 100;
  padding: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;

}
.my-new-button:hover {
  color: #f1eeee;
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(211, 210, 210, 0.128);
  transition: all 0.3s ease 0s;
}


.banner-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
