<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="castle-form">
        <h1 class="title-owner-castle">Add your Castle</h1>
          <%= render "form", castle: @castle %>
      </div>
        <div class= "mb-5">
        </div>
    </div>
  </div>
</div>
