<div class="home-page-image-text">
  <div class="container banner-container">
    <h3 class="text-principal">Unique castles to rent in France</h3>
    <br>
    <div class="home-page-text">
      Experience a castle with fascinating history, throughout France
    </div>
    <strong><%=link_to "Discover", castles_path, class:"my-new-button", id:"button-white-homepage" %></strong>
  </div>
</div>
