<div class="home-page-image-text" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://www.guide-du-perigord.com/_bibli/annonces/8532/hd/chateau-le-mas-de-montet-ch-01.jpg);">
    <div class="container banner-container">
      <h3 class="text-principal"><em>Exceptional residences for rent in France</em></h3>
      <br>
      <div class="home-page-text">
        <p><em>Exeptions references hundreds of castles, manors and exceptional properties rich in history throughout France to enable you to easily find the place of your dreams...</em></p>
      </div>
    </div>
    <strong><em><%=link_to "Discover the castles", castles_path, class:"btn btn-light btn-changefont", id:"button-white-homepage" %></em></strong>
</div>
