<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://neuschwansteincastletickets.tours/wp-content/uploads/2022/07/neuschwanstein-covered-in-snow.jpg);">
    <div class="container banner-container">
      <h1>Castle for rent in France</h1>
      <p class="home-page-text"><br><strong>unique</strong> <br><strong> full or charm</strong><br><strong>at prices that will surprise you</strong></p>
    </div>
    <div id="button-white-home" class="btn btn-light">
      <%=link_to "Our castle", castles_path %>
    </div>
</div>
