.btn-anthentication {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  border-radius: 4px;
  background-color: gray;
  color: white;
}

.btn-anthentication:hover {
  background-color: rgb(82, 82, 82);
  color: white;
}

#new_user {
  margin-top: 20px;
}

.h2-authentication{
  margin-top: 20px;
}

.form-label{
text-align: left !important;
}
