#bookings-h1 {
  text-align: center;
  margin: 40px;
}

.bookings-grid {
  display: grid;
  margin: auto;
  margin-top: 0px;
  grid-gap: 30px;
  width: 790px;


  .bookings-card-product {
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.504);
    display: flex;
    align-items: center;
    transition: 0.3s;


    .booking-infos {
      display: flex;
      color: inherit;
      text-decoration: none;

      .booking-img {
        padding-left: 160px;
        background-size: cover;
        background-position: center;

      }

      .booking-text {
        margin: 25px;

      }
    }

    .bookings-validations {
      flex-direction: column;
      text-align: center;
      width: 240px;

      .bookings-situation {
        color: rgb(42, 42, 42);
        display: grid;
        padding: 30px;
        // gap: 25px;
        // padding: 3px;
        // padding-left: 20px;
        // padding-right: 20px;
        border-radius: 50px;

        .confirmation-status-current {
          font-size: 15px;
        }

        .fa-circle-xmark {
        color: #f57c7c;
        }

        .fa-circle-check {
          color: #6cce69;
        }
      }

      #bookings-situation-owner {
        padding: 0px;
      }

      #text {
        font-size: 15px;
        padding: 30px;

      }

      .booking-cancel {
        color: rgb(189, 78, 78);
        text-decoration: none;
        font-size: 30px;
      }

      .bookings-acceptation {

        display: flex;
        justify-content: space-around;

        .a {
          text-decoration: none;
        }

        .btn-accept {
          border: solid grey;
          color: rgb(255, 255, 255);
          color:#6cce69;
          border: solid 1px #6cce69;
          padding: 3px;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 10px;
          display: inline-block;
          padding: 7px 20px;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          transition: 0.3s;

          &:hover{
            background-color: #6cce6910;
            box-shadow: 0px 0px 5px #6cce695f;;
          }
        }

        .btn-decline {
          border: solid grey;
          color: rgb(255, 255, 255);
          color:rgb(189, 78, 78);
          border: solid 1px rgb(189, 78, 78);
          padding: 3px;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 10px;
          display: inline-block;
          padding: 7px 20px;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          transition: 0.3s;

          &:hover{
            background-color: #f57c7c10;
            box-shadow: 0px 0px 5px #f57c7c5f;;
          }
        }

        .btn-cancel-decision {
          border: solid grey;
          color: rgb(255, 255, 255);
          color:grey;
          border: solid 1px grey;
          padding: 3px;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 10px;
          display: inline-block;
          padding: 7px 20px;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          transition: 0.3s;

          &:hover{
            background-color: rgba(128, 128, 128, 0.104);
            box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.104);;
          }
        }

      }

    }

    &:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.504);

    }
  }
}




.bookings-card-product-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.bookings-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.bookings-card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.bookings-card-product .card-product-infos {
  padding: 16px;
}

#no-decoration {
  text-decoration: none;
  color: grey;
  border: solid 1px lightgrey;
  padding: 10px;
  border-radius: 50px;
  font-size: 12px;


}
