.footer-basic {
  padding:15px 0;
  background-color:#ffffff;
  color:#555555;
  border-top: 1px solid #55555558;

  width: 100%; height: 135px;

}


.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:15px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-family: $headers-font;
}

.footer-basic ul a:hover {
  color: #0a0a0a;
  font-weight: bold;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:15px;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color: grey;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  color: #0a0a0a;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:12px;
  color:#aaa;
  margin-bottom:0;
}
