.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand-img {
  width: 130px;
}


.left-navbar {
  min-width: 10%;
}

.my-boutn {
  color: #000000c7;
  border: 1px solid #000000c2;
  padding: 8px 10px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-right: 9px;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.my-boutn:hover {
  background-color: rgba(118, 117, 117, 0.05);

}
